
body {
    font-family: Arial, Helvetica, sans-serif;  
    margin: 20px;
    padding: 10px;
    background-color: #f2ebeb;
}


h1 {
    color: rgb(162, 42, 5); 
    text-align: center;
}

h2 {
    color: rgb(198, 78, 34);  
}

h3 {
    color: darkred;
}
 
.highlight {
    color: rgb(238, 238, 237);  
    font-weight: bold;
}

 
#special {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border: 2px solid black;
}

 
p {
    margin: 15px 0;
    padding: 10px;
    background-color: #607281;
    border-radius: 5px;
}
